.root .text {
    -fx-font-family: "Verdana";
}
.card {
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
		1.5);
	-fx-padding: 16 16 16 16;
}

.sidebarTitle {
    -fx-font-size: 22px;
}

.sidebarSubTitle {
    -fx-font-size: 16px;
}

.card .label .text {
    -fx-fill: rgba(0,0,0,.68);
}

.colorPickerLabel .text {
    -fx-fill: rgba(0,0,0,.68);
    -fx-font-size: 16px;
}

.card JFXButton .text {
    -fx-fill: rgba(0,0,0,.68);
    -fx-font-size: 16px;
}
JFXButton FontAwesomeIconView {
    -fx-fill: WHITE;
}

JFXButton MaterialDesignIconView {
    -fx-fill: WHITE;
}

JFXButton MaterialIconView {
    -fx-fill: WHITE;
}

.iconButton {
    -fx-background-radius: 180px;
    -fx-background-color: #4CAF50;
    -fx-cursor: hand;
}

.mediaButton {
    -fx-background-color: derive(#4CAF50,-20%);
}

.red-slider > .thumb {
	-fx-stroke: #F7412D;
	-fx-stroke-width: 1.0;
}

.green-slider > .thumb {
	-fx-stroke: #47B04B;
	-fx-stroke-width: 1.0;
}

.blue-slider > .thumb {
	-fx-stroke: #1194F6;
	-fx-stroke-width: 1.0;
}

.sidebar-slider > .thumb {
	-fx-stroke: -fx-decorator-color;
	-fx-stroke-width: 1.0;
}

.breakout-button{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 175px;
    -fx-text-fill: rgba(0,0,0,.68);
}

.save-load-button{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-pref-width: 80px;
    -fx-text-fill: rgba(0,0,0,.68);
}

.sidebar .scroll-bar:horizontal .track,
.sidebar .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.sidebar .scroll-bar:horizontal .increment-button ,
.sidebar .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.sidebar .scroll-bar:vertical .increment-button ,
.sidebar .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.sidebar  .scroll-bar .increment-arrow,
.sidebar  .scroll-bar .decrement-arrow{
    -fx-shape:" ";
    -fx-padding:0;
}

.sidebar .scroll-bar:horizontal .thumb,
.sidebar .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.jfx-toggle-button {
	-fx-toggle-color: -fx-decorator-color;
}

.divider {
    -fx-border-width: 1.0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgb(0,0,0,.12);
}

.subheader .text {
    -fx-fill: rgba(0,0,0,.58);
    -fx-font-weight: BOLD;

}

.jfx-decorator {
	-fx-decorator-color: derive(#4CAF50,-20%);
}
.jfx-decorator .jfx-decorator-buttons-container{
	-fx-background-color:-fx-decorator-color;
}
.jfx-decorator .resize-border{
	-fx-border-color: -fx-decorator-color;
	-fx-border-width: 0 4 4 4;
}

.jfx-tool-bar{
	-fx-font-size: 20.0;
	-fx-font-weight: BOLD;
	-fx-background-color: #4CAF50;
	-fx-pref-width: 100.0%;
	-fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
	-fx-alignment:center;
	-fx-spacing: 25.0;
	-fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label{
	-fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger{
	-fx-padding: 22px;
}
.jfx-tool-bar .jfx-options-burger StackPane{
	-fx-pref-width:4px;
}

.jfx-tool-bar .jfx-rippler {
	-fx-rippler-fill: WHITE;
}
.jfx-hamburger{
	-fx-padding: 10.0;
	-fx-spacing: 4px;
	-fx-cursor: hand;
}

.jfx-hamburger StackPane{
	-fx-pref-width: 30px;
	-fx-pref-height: 4px;
	-fx-background-color: #FFF ;
	-fx-background-radius: 5px;
}

