.card {
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
		1.5);
	-fx-padding: 16 16 16 16;
}
.card .label .text {
    -fx-fill: rgba(0,0,0,.68);
}

.card JFXButton .text {
    -fx-fill: rgba(0,0,0,.68);
    -fx-font-size: 16px;
}
.buttonBar {
    -fx-background-color: derive(#5264AE,-20%);
    -fx-background-radius: 4.0 4.0 0 0;
}
.buttonBar JFXButton FontAwesomeIconView {
    -fx-fill: WHITE;
}

.red-slider > .thumb {
	-fx-stroke: #F7412D;
	-fx-stroke-width: 1.0;
}

.green-slider > .thumb {
	-fx-stroke: #47B04B;
	-fx-stroke-width: 1.0;
}

.blue-slider > .thumb {
	-fx-stroke: #1194F6;
	-fx-stroke-width: 1.0;
}

.divider {
    -fx-border-width: 1.0;
    -fx-border-style: solid hidden solid hidden;
    -fx-border-color: rgb(0,0,0,.12);
}

.jfx-decorator {
	-fx-decorator-color: derive(#5264AE,-20%);
}
.jfx-decorator .jfx-decorator-buttons-container{
	-fx-background-color:-fx-decorator-color;
}
.jfx-decorator .resize-border{
	-fx-border-color:-fx-decorator-color;
	-fx-border-width: 0 4 4 4;
}

